---
title: Sample Post
description: This is a sample spindle post
---
extends ../layouts/post.pug
block title
  title #{title}
block description
  meta(name="description" content=`${description}`)
block content
  a(href="../index.pug") home
  include:markdown-it 2018-06-11-sample-post.md
