doctype html
html(class="no-js" lang="en-us")

  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    block title
    block description
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

    //- link(rel="manifest" href="site.webmanifest")
    //- link(rel="apple-touch-icon" href="icon.png")
    <!-- Place favicon.ico in the root directory -->

    link(rel="stylesheet" href="./assets/css/main.scss")

  body
    <!--[if lte IE 9]>
      p(class="browserupgrade") You are using an #[strong outdated] browser. Please #[a(href="") upgrade your browser]>to improve your experience and security.
    <!--<![endif]-->

    block content

    script(src="./assets/js/vendors/modernizr.min.js")
    script(src="./assets/js/main.js")